<%= form_for(@csv_import) do |f| %>
  <% if @csv_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@csv_import.errors.count, "error") %> prohibited this csv_import from being saved:</h2>

      <ul>
      <% @csv_import.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
